body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

.slide-container {
    width: 100vw;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    overflow: hidden;
    position: relative;
}

.nav-footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
    z-index: 999;
}

.nav-btn {
    padding: 5px 10px;
    background-color: #0033664a;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 100;
    transition: 0.2s;
    text-decoration: none;
}

.nav-btn:hover {
    background-color: #00509e;
}

.header {
    margin-bottom: 40px;
    border-bottom: 2px solid #e5e7eb;
    padding-bottom: 20px;
}